/* Fonts */
@font-face {
	font-family: "made_carving_soft_personal_Lg";
	src:
		url("../fonts/madecarvingsoftpersonaluse-light-webfont.woff2")
			format("woff2"),
		url("../fonts/madecarvingsoftpersonaluse-light-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

:root,
::backdrop {
	--sl-font-system: "made_carving_soft_personal_Lg", sans-serif;
}

/* For smooth navigating */
@view-transition {
	navigation: auto;
}

/* Asides style */
.starlight-aside {
	border-radius: 0.5rem;
}

/* Home page logo */
@media (min-width: 50rem) {
    .hero:where(.astro-jbfsktt5) {
        grid-template-columns: 6fr 6fr;
        gap: 3%;
        padding-block: clamp(2.5rem, calc(1rem + 10vmin), 10rem);
    }

	.hero:where(.astro-jbfsktt5) > img:where(.astro-jbfsktt5),
	.hero:where(.astro-jbfsktt5) > .hero-html:where(.astro-jbfsktt5) {
		order: 2;
		width: 100%;
	}
}


/* Top nav title */
.site-title {
    background-color: rgba(61, 80, 245, 0.1);
    padding: 0.2rem 1rem;
    border-radius: 0.5rem;
}

/* Links */
a {
    text-decoration: none;
    font-weight: bold;
}

/* Custom tabs bg color */
starlight-tabs {
	background-color: rgba(61, 79, 245, 0.07);
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: 0.1rem 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}

/* Custom card styling */
.card {
	padding: clamp(0.5rem, calc(0.125rem + 3vw), 1.25rem);
	box-shadow: 0.1rem 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
	border-radius: 0.5rem;
}

.card > p {
	font-size: 1.3rem;
}

/* Custom header font size */
.sl-markdown-content h3:not(:where(.not-content *)) {
    font-size: 1.5rem;
}

